@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap");
@import "reset.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/header.css";
@import "components/top-nav.css";

@import "variables.css";
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/comments.css";
@import "screen/eye.css";
@import "screen/more.css";
@import "screen/chat.css";

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  animation: fade 0.5s ease-in;
}

main {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 110px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
